<nav class="navbar">
  <div class="navbar-logo">
    <!-- Add your logo or title here -->
    <a routerLink="/home" class="nav-link">
      <img src="assets/shopLogo.png" alt="Logo" class="navbar-logo" />
    </a>
  </div>
  <div class="navbar-links">
    <a routerLink="/contacto" class="nav-link">
      <img src="assets/phone.png" alt="Contact" class="navbar-phone"/>
    </a>
    <a routerLink="/carrito" class="nav-link">
      <img src="assets/shopping-cart.png" alt="Cart" class="navbar-cart"/>
    </a>
  </div>
</nav>
