/* You can add global styles to this file, and also import other style files */
/* Set Global Font */
body {
    font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  